@charset "UTF-8";
/*================================================================
# mixins
==================================================================*/
/* ===============================================
# common - 全体に共通するスタイル
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Serif+JP:wght@300;400&display=swap");
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
/* ===============================================
# 定義
=============================================== */
/* 共通
=============================================== */
body {
  font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  color: #3E3E3E;
  font-weight: 400;
  font-size: 16px;
  background-color: #F3F3F3;
}

.inner {
  max-width: 1280px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 16px;
  }
}

/* header
=============================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .header {
    background: rgba(255, 255, 255, 0.1);
  }
}
@media screen and (max-width: 767px) {
  .header {
    background: #f3f3f3;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 160px;
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  height: 68px;
  line-height: 68px;
}

.header-nav {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .header-nav {
    z-index: 150;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-item + .header-nav-item {
    margin-left: 40px;
  }
}

.header-nav-item-link {
  font-family: "Montserrat", sans-serif;
  display: block;
  color: #3E3E3E;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header-nav-item-link {
    height: 83px;
    line-height: 83px;
    letter-spacing: -0.4px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .header-nav-item-link::after {
    content: "";
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #3E3E3E;
    display: block;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  .header-nav-item-link:hover::after {
    width: 100%;
  }
}

.drawer-icon {
  position: fixed;
  top: 24px;
  right: 19px;
  z-index: 300;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}
.drawer-icon.is-active .drawer-icon__img {
  width: 21px;
  height: 21px;
  background: url(/img/batsu.svg) center center/cover;
}

@media screen and (max-width: 767px) {
  .drawer-icon__bars {
    width: 22px;
    height: 20px;
    display: block;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .drawer-icon__img {
    width: 26px;
    height: 20px;
    background: url(/img/hamburger.svg) center center/cover;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media screen and (max-width: 767px) {
  .drawer-content {
    width: 300px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 250;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  }
  .drawer-content.is-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .drawer-content__items {
    padding-top: 161px;
  }
}

@media screen and (max-width: 767px) {
  .drawer-content__item a {
    display: block;
    color: inherit;
    font-size: 18px;
    text-align: center;
  }
  .drawer-content__item a:hover {
    opacity: 0.7;
  }
  .drawer-content__item + .drawer-content__item {
    margin-top: 32px;
  }
}

@media screen and (max-width: 767px) {
  .drawer-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 62, 62, 0.8);
    z-index: 100;
    display: none;
  }
  .drawer-background.is-active {
    display: block;
  }
}

/* footer
=============================================== */
.footer {
  background: #3E3E3E;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 50px 12.5% 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 48px;
  }
}

@media screen and (min-width: 768px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .footer-inner {
    display: block;
  }
}

.footer-links {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .footer-links {
    margin: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-sns {
    margin-bottom: 31px;
  }
}
@media screen and (max-width: 767px) {
  .footer-sns {
    margin-bottom: 37px;
  }
}
.footer-sns li + li {
  margin-left: 28px;
}
@media screen and (max-width: 767px) {
  .footer-sns li + li {
    margin-left: 50px;
  }
}

.footer-sns-icon {
  display: inline-block;
  width: 38px;
  height: 38px;
}

.footer-sns-icon-link {
  font-size: 38px;
  color: #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.footer-sns-icon-link:hover {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .footer-contents {
    margin-bottom: 34px;
  }
}
.footer-contents ul li {
  letter-spacing: 0.4px;
}
.footer-contents ul li + li {
  margin-top: 16px;
}

.footer-contents-link {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 767px) {
  .footer-contents-link {
    font-size: 14px;
  }
}
.footer-contents-link:hover {
  opacity: 0.8;
}

.footer-text {
  margin-left: auto;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  .footer-text {
    margin: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 6px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .footer-logo {
    margin-bottom: 11px;
    font-size: 32px;
  }
}

.copyright {
  font-size: 12px;
  letter-spacing: 0.3px;
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .copyright {
    margin-bottom: 10px;
  }
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 50;
}
@media screen and (max-width: 767px) {
  .scroll-top {
    right: 16px;
    bottom: 13px;
  }
}
.scroll-top a {
  opacity: 0.8;
}
.scroll-top a:hover {
  opacity: 1;
}
.scroll-top a img {
  width: 50px;
}
@media screen and (max-width: 767px) {
  .scroll-top a img {
    width: 50px;
  }
}
.scroll-top.is-show {
  opacity: 1;
  visibility: visible;
}

/* main
=============================================== */
.head {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .head {
    font-size: 30px;
  }
}

/* top
=============================================== */
.top {
  background: #fff url(/img/mv.png) no-repeat 20% 20%/cover;
}
@media screen and (min-width: 768px) {
  .top {
    padding-top: 229px;
    padding-bottom: 151px;
  }
}
@media screen and (max-width: 767px) {
  .top {
    padding-top: 221px;
    padding-bottom: 230px;
  }
}

.top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .top-inner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (max-width: 767px) {
  .top-inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body {
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .top-message {
    width: 50%;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .top-title {
    font-size: 32px;
    letter-spacing: 0.02px;
    line-height: 1.5;
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 767px) {
  .top-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.666667;
    margin-bottom: 23px;
  }
}

@media screen and (min-width: 768px) {
  .top-text {
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: 1.5556;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .top-text {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 767px) {
  .top-button {
    text-align: center;
    padding-left: 10px;
  }
}

.top-button-link {
  display: inline-block;
  background: #FFAA3B;
  color: #F3F3F3;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .top-button-link {
    max-width: 282px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.45px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .top-button-link {
    padding: 16px 33px;
  }
}
.top-button-link:hover {
  background: #F18900;
}

/* news
=============================================== */
@media screen and (min-width: 768px) {
  .news {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 767px) {
  .news {
    margin-bottom: 60px;
  }
}

.news-inner {
  background: #fff;
  -webkit-box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (min-width: 768px) {
  .news-inner {
    padding-top: 60px;
    padding-bottom: 40px;
    margin: 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .news-inner {
    margin: -40px 16px 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.news-head {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .news-lists {
    width: 90%;
    margin: 60px auto 40px;
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .news-lists {
    width: 100%;
    margin: 40px 0 40px;
    font-size: 14px;
  }
}

.news-item {
  border-top: solid 1px #cecdcd;
}
.news-item:last-child {
  border-bottom: 1px solid #cecdcd;
}

.news-item-link {
  color: #3E3E3E;
  position: relative;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media screen and (min-width: 768px) {
  .news-item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 35px;
    padding-bottom: 42px;
  }
}
@media screen and (max-width: 767px) {
  .news-item-link {
    display: block;
  }
}
.news-item-link:hover {
  background: #4973FF1A;
}
.news-item-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 11px;
  height: 21px;
  background: url(/img/news-arrow-1.png) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .news-item-link::after {
    width: 20px;
    height: 21px;
    right: 10px;
  }
}

.news-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .news-meta {
    margin-top: 13px;
  }
}

.news-date {
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 768px) {
  .news-date {
    font-size: 18px;
    width: 100px;
    padding-top: 2px;
    letter-spacing: 0.45px;
  }
}
@media screen and (max-width: 767px) {
  .news-date {
    font-size: 14px;
    width: 77px;
    margin-left: 16px;
    letter-spacing: 0.35px;
    padding-top: 2px;
  }
}

.news-label {
  border: 2px solid #3b69ff;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .news-label {
    font-size: 14px;
    width: 121px;
    padding: 6px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .news-label {
    font-size: 12px;
    width: 81px;
    padding: 2px;
    margin-left: 24px;
    letter-spacing: 0.3px;
  }
}

.news-title {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .news-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 698px;
            flex: 0 1 698px;
    line-height: 1.6;
    font-size: 18px;
    letter-spacing: 0.45px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .news-title {
    font-size: 14px;
    line-height: 1.4287;
    letter-spacing: 0;
    margin-left: 16px;
    padding-right: 64px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.news-button {
  text-align: center;
}

.news-button-link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border: 1px solid #707070;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .news-button-link {
    font-size: 20px;
    letter-spacing: 4px;
    padding: 19px 77px;
  }
}
@media screen and (max-width: 767px) {
  .news-button-link {
    font-size: 18px;
    letter-spacing: 3.6px;
    padding: 15px 97px;
  }
}
.news-button-link:hover {
  background: #3E3E3E;
  color: #fff;
}

/* service
=============================================== */
.service {
  background: #3E3E3E;
}

.service-head {
  color: #F3F3F3;
  text-align: center;
}

.service-inner {
  height: 400px;
}
@media screen and (min-width: 768px) {
  .service-inner {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 60px 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .service-inner {
    padding: 40px 16px;
    height: 480px;
  }
}

.service-contents {
  background: #fff;
  max-width: 960px;
  width: 96%;
  -webkit-box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (min-width: 768px) {
  .service-contents {
    padding: 62px 0 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin: 60px auto -95px;
  }
}
@media screen and (max-width: 767px) {
  .service-contents {
    display: block;
    padding: 40px 0 35px;
    min-width: 343px;
    margin: 38px auto -331px;
  }
}

.service-contents-item {
  width: 230px;
}
@media screen and (max-width: 767px) {
  .service-contents-item {
    margin: auto;
    width: 312px;
  }
}
@media screen and (max-width: 767px) {
  .service-contents-item + .service-contents-item {
    margin-top: 35px;
    text-align: center;
  }
}

.service-contents-image1 {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  position: relative;
}

.service-image1 {
  display: inline-block;
}
.service-image1::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 64px;
  height: 64px;
  background: url(/img/service1.png) no-repeat center center/contain;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
@media screen and (max-width: 767px) {
  .service-image1::before {
    top: 0px;
  }
}

.service-contents-image2 {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  position: relative;
}

.service-image2 {
  display: inline-block;
}
.service-image2::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 64px;
  height: 64px;
  background: url(/img/service2.png) no-repeat center center/contain;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
@media screen and (max-width: 767px) {
  .service-image2::before {
    top: 0px;
  }
}

.service-contents-image3 {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  position: relative;
}

.service-image3 {
  display: inline-block;
}
.service-image3::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 64px;
  height: 64px;
  background: url(/img/service3.png) no-repeat center center/contain;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
@media screen and (max-width: 767px) {
  .service-image3::before {
    top: 0px;
  }
}

.service-contents-title {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .service-contents-title {
    letter-spacing: 4.2px;
    line-height: 1.3;
    margin: 4px 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .service-contents-title {
    letter-spacing: 3.8px;
    margin: 8px 0 15px;
  }
}

.service-contents-text {
  font-size: 14px;
  line-height: 1.714285;
  text-align: left;
}

/* results
=============================================== */
@media screen and (min-width: 768px) {
  .results {
    margin-top: 215px;
  }
}
@media screen and (max-width: 767px) {
  .results {
    margin-top: 391px;
  }
}

.results-inner {
  overflow-x: hidden;
  max-width: 1280px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .results-inner {
    padding: 0;
  }
}

.results-box {
  background: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .results-box {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
  }
}
@media screen and (max-width: 767px) {
  .results-box {
    padding: 40px 0 40px;
  }
}

.results-head {
  color: #F3F3F3;
}
@media screen and (min-width: 768px) {
  .results-head {
    text-align: left;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .results-head {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .results-contens-wrapper {
    padding-left: 16px;
  }
}

.results-item {
  max-width: 400px;
  width: 100%;
  background: #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .results-item {
    max-width: 274px;
  }
}

.results-item-link {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.result-item-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .results-item-body {
    padding: 16px;
  }
}
@media screen and (max-width: 767px) {
  .results-item-body {
    padding: 10px 12px;
  }
}

.results-item-title {
  font-weight: bold;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .results-item-title {
    font-size: 20px;
    margin-bottom: 11px;
  }
}
@media screen and (max-width: 767px) {
  .results-item-title {
    font-size: 14px;
    margin-bottom: 7px;
    letter-spacing: 0.01px;
  }
}

.results-item-content {
  line-height: 1.5;
  margin-bottom: 4px;
}
@media screen and (max-width: 767px) {
  .results-item-content {
    font-size: 12px;
    letter-spacing: 0.01px;
  }
}

.resutls-sliders {
  width: 100%;
  max-width: 100%;
}

.results-view-all {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .results-view-all {
    text-align: center;
  }
}

.results-view-link {
  display: inline-block;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  color: #F3F3F3;
  border: 1px solid #F3F3F3;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}
@media screen and (min-width: 768px) {
  .results-view-link {
    padding: 19px 78px;
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .results-view-link {
    padding: 15px 95px;
    font-size: 18px;
  }
}
.results-view-link:hover {
  background: #fff;
  color: #3E3E3E;
}

@media screen and (min-width: 768px) {
  .swiper-container {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-container {
    padding-bottom: 47px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  bottom: 40px;
  left: 0;
  color: #fff;
  background: transparent;
  text-align: left;
  padding-left: 2px;
}
@media screen and (max-width: 767px) {
  .swiper-pagination {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 17px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #fff;
  opacity: 0.8;
  outline: none;
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 15px !important;
}

.swiper-pagination-bullet-active {
  position: relative;
}
.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}

/* price
=============================================== */
.price {
  padding: 120px 40px 103px;
}
@media screen and (max-width: 767px) {
  .price {
    padding: 38px 0;
    margin-bottom: 15px;
  }
}

.price-head {
  text-align: center;
}

.price-table {
  max-width: 960px;
}
@media screen and (min-width: 768px) {
  .price-table {
    margin: 60px auto 12px;
  }
}
@media screen and (max-width: 767px) {
  .price-table {
    margin: 40px auto 0;
  }
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #3E3E3E;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 9px;
}
@media screen and (max-width: 767px) {
  table {
    font-size: 20px;
  }
}
table tr th {
  width: 262px;
  color: #F3F3F3;
  background: #3E3E3E;
  border-bottom: 1px solid #F3F3F3;
  padding: 15px;
  height: 60px;
}
@media screen and (max-width: 767px) {
  table tr th {
    width: 100px;
    height: 56px;
  }
}
table tr td {
  background: #F3F3F3;
  border: 1px solid #3E3E3E;
}
@media screen and (min-width: 768px) {
  table tr td {
    padding: 15px 40px;
  }
}
@media screen and (max-width: 767px) {
  table tr td {
    padding: 15px 19px;
  }
}

.price-text {
  font-size: 12px;
}

/* comments
=============================================== */
.comments {
  position: relative;
}
@media screen and (min-width: 768px) {
  .comments {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 767px) {
  .comments {
    padding-bottom: 60px;
  }
}
.comments::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3E3E3E;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .comments::after {
    max-width: 980px;
    top: 148px;
    max-height: 576px;
  }
}
@media screen and (max-width: 767px) {
  .comments::after {
    top: 60px;
    max-height: 450px;
  }
}

.comments-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .comments-inner {
    display: block;
  }
}

.comments-box {
  background: #F3F3F3;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .comments-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 666px;
            flex: 0 1 666px;
    padding: 10% 5%;
  }
}
@media screen and (max-width: 767px) {
  .comments-box {
    width: 100%;
    padding: 41px 20px 38px;
  }
}

@media screen and (min-width: 768px) {
  .comments-head {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .comments-head {
    margin-bottom: 35px;
  }
}

.comments-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .comments-person + .comments-person {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .comments-person + .comments-person {
    margin-top: 33px;
  }
}

@media screen and (min-width: 768px) {
  .comments-person-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    margin-right: 32px;
  }
}
@media screen and (max-width: 767px) {
  .comments-person-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    margin-top: 5px;
    margin-right: 20px;
  }
}
.comments-person-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comments-person-text {
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .comments-person-text {
    font-size: 14px;
    line-height: 1.4286;
  }
}

.comments-backimg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 534px;
          flex: 0 1 534px;
}

/* Q&A
=============================================== */
.qa {
  background: url(/img/qa-bg.png) no-repeat center top/cover;
}
@media screen and (min-width: 768px) {
  .qa {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 767px) {
  .qa {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.qa-head {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .qa-head {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .qa-head {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .qa-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (max-width: 767px) {
  .qa-items {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .qa-contents {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 612px;
            flex: 0 1 612px;
  }
}
@media screen and (max-width: 767px) {
  .qa-contents {
    width: 100%;
    max-width: 343px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .qa-item + .qa-item {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .qa-item + .qa-item {
    margin-top: 23px;
  }
}

.qa-box {
  border: none;
  border-radius: 4px;
  color: #3E3E3E;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .qa-box {
    padding: 15px 16px 18px 16px;
  }
}
@media screen and (max-width: 767px) {
  .qa-box {
    padding: 16px;
  }
}

.qa-box__q {
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .qa-box__q {
    letter-spacing: 0.4px;
  }
}

.qa-q {
  display: block;
  font-family: "Montserrat", sans-serif;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: #3B69FF;
  color: #F3F3F3;
  text-align: center;
  line-height: 1.5;
  margin-right: 16px;
}

.qa-box__icon {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/img/plus.png) no-repeat center center/contain;
}
.qa-box__icon.is-open {
  background: url(/img/minus.png) no-repeat center center/contain;
}

.qa-box__a {
  background: #3B69FF33;
  display: none;
  border: none;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .qa-box__a {
    padding: 10px 16px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .qa-box__a {
    padding: 9px 12px;
    margin-top: 17px;
  }
}

.qa-box__content {
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .qa-box__content {
    font-size: 14px;
    line-height: 1.42857;
  }
}

/* Access
=============================================== */
.access {
  position: relative;
}
@media screen and (min-width: 768px) {
  .access {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 767px) {
  .access {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #3E3E3E;
  }
}
.access::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 980px;
  height: 100%;
  max-height: 504px;
  background: #3E3E3E;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .access::after {
    display: none;
  }
}

.access-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8.3333%;
}
@media screen and (max-width: 767px) {
  .access-inner {
    display: block;
    text-align: center;
  }
}

.access-contents {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 314px;
          flex: 0 0 314px;
  text-align: left;
  color: #F3F3F3;
}
@media screen and (min-width: 768px) {
  .access-contents {
    margin-left: 5%;
  }
}
@media screen and (max-width: 767px) {
  .access-contents {
    width: 339px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .access-address {
    margin-top: 57px;
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 767px) {
  .access-address {
    font-size: 14px;
    letter-spacing: 11;
    line-height: 1.4286;
    margin-top: 37px;
    margin-bottom: 19px;
  }
}

.access-map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100;
          flex: 0 1 100;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.2);
}
@media screen and (max-width: 767px) {
  .access-map {
    width: 343px;
    margin: 0 auto;
  }
}

.access-wrap {
  width: 100%;
  padding-top: 71.63%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .access-wrap {
    padding-top: 70.26%;
  }
}
.access-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.access-button-link {
  width: 100%;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  border: 1px solid #F3F3F3;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}
@media screen and (max-width: 767px) {
  .access-button-link {
    width: 339px;
    font-size: 18px;
    letter-spacing: 1.8px;
    padding: 16px;
    margin-top: 24px;
    color: #F3F3F3;
  }
}
.access-button-link:hover {
  background: #fff;
  color: #3E3E3E;
}

/* contact
=============================================== */
.contact {
  background: url(/img/contact-bg.png) no-repeat center center/cover;
}

@media screen and (min-width: 768px) {
  .contact-inner {
    padding: 60px 12.5%;
  }
}
@media screen and (max-width: 767px) {
  .contact-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.contact-title {
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  text-align: center;
  color: #F3F3F3;
}
@media screen and (min-width: 768px) {
  .contact-title {
    background: url(/img/contact1.png) no-repeat center center/cover;
    padding-top: 60px;
    padding-bottom: 54px;
  }
}
@media screen and (max-width: 767px) {
  .contact-title {
    background: url(/img/contact1_sp.png) no-repeat center center/cover;
    padding: 40px 16px 35px;
  }
}

@media screen and (min-width: 768px) {
  .contact-head {
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 767px) {
  .contact-head {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 767px) {
  .contact-text {
    font-size: 14px;
    letter-spacing: 1;
    text-align: left;
  }
}

.contact-form {
  width: 100%;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .contact-form {
    padding: 60px 12.5%;
  }
}
@media screen and (max-width: 767px) {
  .contact-form {
    padding: 40px 12px;
  }
}

@media screen and (min-width: 768px) {
  .contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .contact-item {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .contact-item + .contact-item {
    margin-top: 31px;
  }
}
@media screen and (max-width: 767px) {
  .contact-item + .contact-item {
    margin-top: 30px;
  }
}

.contact-item-title {
  font-weight: bold;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .contact-item-title {
    margin-right: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 128px;
            flex: 0 0 128px;
  }
}
@media screen and (max-width: 767px) {
  .contact-item-title {
    margin-bottom: 14px;
  }
}

.contact-item-title-inline {
  display: inline-block;
  color: #F3F3F3;
  padding: 2px 8px;
  font-size: 12px;
  background-color: #ff4646;
  border: none;
  border-radius: 2px;
  margin-left: 13px;
}

@media screen and (min-width: 768px) {
  .contact-item-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 532px;
            flex: 0 1 532px;
  }
}
@media screen and (max-width: 767px) {
  .contact-item-input {
    width: 100%;
  }
}

.contact-item2 {
  margin-top: 26px;
}

input[type=text],
input[type=email] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #B2B2B2;
  color: #3E3E3E;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  input[type=text],
input[type=email] {
    line-height: 33px;
    height: 33px;
    padding-left: 12px;
  }
}
@media screen and (max-width: 767px) {
  input[type=text],
input[type=email] {
    height: 19px;
    line-height: 19;
    padding-left: 0;
  }
}

input {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
input:focus {
  border-bottom: 1px solid #4973FF;
  outline: none;
}
input:hover {
  border-bottom: 1px solid #4973FF;
  outline: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  padding: 0 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  select {
    line-height: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  select {
    line-height: 37px;
    height: 37px;
    font-size: 14px;
    letter-spacing: 1;
  }
}
select:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px 0px #4973FF80;
          box-shadow: 0 0 5px 0px #4973FF80;
}
select:hover {
  outline: none;
  -webkit-box-shadow: 0 0 5px 0px #4973FF80;
          box-shadow: 0 0 5px 0px #4973FF80;
}

textarea {
  width: 100%;
  border: 1px solid #707070;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  resize: vertical;
}
@media screen and (min-width: 768px) {
  textarea {
    margin-top: 8px;
    min-height: 200px;
  }
}
@media screen and (max-width: 767px) {
  textarea {
    min-height: 160px;
  }
}
textarea:focus {
  outline: none;
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 8px 0px #4973FF80;
          box-shadow: 0 0 8px 0px #4973FF80;
}
textarea:hover {
  outline: none;
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 8px 0px #4973FF80;
          box-shadow: 0 0 8px 0px #4973FF80;
}

.contact-item-select {
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact-item-select {
    max-width: 178px;
  }
}
.contact-item-select::after {
  content: "";
  background: url(/img/news-arrow.png) no-repeat center right/contain;
  color: #3E3E3E;
  display: block;
  width: 11px;
  height: 11px;
  position: absolute;
  right: 12px;
  top: 14px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}
@media screen and (max-width: 767px) {
  .contact-item-select::after {
    right: 15px;
    top: 11px;
  }
}

.contact-radio {
  margin-right: 33px;
  position: relative;
  cursor: pointer;
}
.contact-radio [type=radio]:hover + span::before {
  border: 1px solid #3B69FF;
  -webkit-box-shadow: 0 0 8px 0px #4973FF33;
          box-shadow: 0 0 8px 0px #4973FF33;
}
.contact-radio [type=radio]:active + span::before {
  border: 1px solid #4973FF;
  background-color: #4973FF33;
}
.contact-radio [type=radio]:checked + span::after {
  display: block;
}

.contact-radio-input {
  opacity: 0;
  margin: 0 2px;
}
.contact-radio-input:focus {
  outline: none;
  border: #3B69FF;
}

.contact-radio-part::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact-radio-part::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #3B69FF;
  position: absolute;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-footer {
    margin-top: 34px;
  }
}
@media screen and (max-width: 767px) {
  .contact-footer {
    margin-top: 27px;
  }
}

.contact-footer-text {
  font-weight: bold;
  line-height: 1;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .contact-footer-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .contact-footer-text {
    font-size: 16px;
  }
}

.contact-privacy {
  position: relative;
  padding-left: 40px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact-privacy [type=checkbox]:checked + .contact-privacy-part::after {
  display: block;
}
.contact-privacy [type=checkbox]:hover + .contact-privacy-part, .contact-privacy [type=checkbox]:focus + .contact-privacy-part {
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 5px 0px #4973FF33;
          box-shadow: 0 0 5px 0px #4973FF33;
}
.contact-privacy [type=checkbox]:active + .contact-privacy-part {
  border: 1px solid #4973FF;
  background-color: #4973FF33;
}

.contact-privacy-part {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  top: 0;
  left: 0;
}
.contact-privacy-part::after {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 6px;
  height: 13px;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid #3B69FF;
  border-right: 2px solid #3B69FF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
  border-radius: 1px;
  display: none;
}

@media screen and (max-width: 767px) {
  .contact-privacy-text {
    padding-top: 2px;
  }
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .contact-footer-submit {
    text-align: center;
  }
}

.contact-footer-btn {
  padding: 13px 50px;
  color: #fff;
  background: #FFAA3B;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .contact-footer-btn {
    margin-top: 35px;
    font-size: 18px;
    letter-spacing: 0.45px;
  }
}
@media screen and (max-width: 767px) {
  .contact-footer-btn {
    margin-top: 27px;
    font-size: 16px;
    letter-spacing: 0.4px;
  }
}
.contact-footer-btn:hover {
  background: #F18900;
}
.contact-footer-btn:disabled {
  background: #B2B2B2;
}

.contact-message {
  margin-top: 40px;
  text-align: center;
  display: none;
}
.contact-message.-error {
  color: red;
}